<div class='c1'></div>
<div class='s1'></div>
<div class='c2'></div>
<div class='s2'></div>
<style>
  .s1 {
    position:absolute;
    margin-left:92;
    margin-top:42;
    width: 200px;
    height: 200px;
    background: #4F77FF;
  }
  .s2 {
    position:absolute;
    margin-left:172;
    margin-top:122;
    width: 40px;
    height: 40px;
    background: #4F77FF;
  }
  .c2 {
    position:absolute;
    margin-left:132;
    margin-top:82;
    width: 120px;
    height: 120px;
    border-radius:50%;
    background: #FFFFFF;
  }
  .c1 {
    position:absolute;
    margin-left:53;
    margin-top:2;
    width: 280px;
    height: 280px;
    border-radius:50%;
    background: #FFFFFF;
  }
  body{
    background:#4F77FF
  }
</style>
